.centered {
    height: 370px;
    width: 400px;
    background-color: lightgray;
    border: 1px solid green;
    margin: 0 auto;
    /* border: 2px solid ; */
    border-radius: 5px;
  }
  h3{
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    font-size: 2rem;
    color: white;
    background-color: black;
  }
input{
    width: 372px;
    height: 80px;
    font-size: 2rem;
    color: #4D455D;
    margin-left: 10px;
    text-align: right;
    background-color: snow;
    border-radius: 5px;
}
.btn{
    text-align: center;
    margin: 10px;
    position: relative;
}
  button{
    cursor: pointer;
    font-size: 1.2em;
    width: 90px;
    height: 40px;
    margin: 1px;
    background-color: white;
    border: 1px solid black;
    transition-duration: 0.4s; /* Add transition on hover */
  }
  button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Add box shadow */
  }

  .coloured-btns{
    background-color: #E90064;
  }